.form-container {
  max-width: 600px;
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #ffff;
}

.container-section {
  margin-top: 15px;
  margin-bottom: 30px;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;
}

.btn-register {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-register {
  background-color: #007bff; /* Cor azul */
}

.btn-register:hover {
  background-color: #0056b3;
}

.btn-signin:hover {
  background-color: #218838;
}
