.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  /*Size*/
  /* size=sm */
  padding: 8px 14px;
  height: 40px;

  &--radius-sm {
    border-radius: 4px;
  }

  &--radius-md {
    border-radius: 8px;
  }

  &--radius-lg {
    border-radius: 16px;
  }

  &--radius-xl {
    border-radius: 24px;
  }

  &--radius-2xl {
    border-radius: 32px;
  }

  /* Hierarchy=Primary, Destructive=False, State=Default, Disabled=False */
  &--primary {
    background: var(--meta-primary-500, #0056a8);
    color: var(--meta-white, #ffffff);

    &:hover {
      background: var(--meta-primary-700, #003465);
    }
  }

  &--primary-empty {
    background: transparent;
    color: var(--meta-white, #ffffff);
    border: 1px solid var(--meta-white, #ffffff);

    display: flex;
    align-items: center;
    column-gap: 1rem;

    svg path {
      stroke: var(--meta-white, #ffffff);
      transition: stroke 0.3s ease-in-out;
    }

    &:hover {
      background: var(--meta-white, #ffffff);
      color: var(--meta-primary-700, #003465);
      border: 1px solid var(--meta-primary-700, #003465);

      svg path {
        stroke: var(--meta-primary-700, #003465);
      }
    }
  }

  &--destructive {
    background: var(--meta-error-600, #d92d20);
    border-color: var(--meta-error-600, #d92d20);

    &:hover {
      background-color: var(--meta-error-700, #b42318);
    }
  }

  &:disabled {
    background-color: var(--meta-primary-200, #99bbdc);
    cursor: not-allowed;
  }

  /*Hirarchy color*/
  &--secondary-color {
    background: var(--meta-primary-50, #e6eef6);
    color: var(--meta-primary-700, #003465);
    border: 1px solid var(--meta-primary-50, #e6eef6);

    &:hover {
      background: var(--meta-primary-100, #ccddee);
    }

    &:disabled {
      background: var(--meta-primary-50, #e6eef6);
      color: var(--meta-primary-200, #99bbdc);
      border: 1px solid var(--meta-primary-50, #e6eef6);
    }
  }

  &--secondary-blue {
    background: var(--meta-purple-10, #fafafa);
    color: var(--meta-primary-500, #0056a8);
    border: 1px solid var(--meta-primary-500, #0056a8);

    &:hover {
      background: var(--meta-primary-500, #0056a8);
      color: var(--meta-purple-10, #fafafa);
    }
  }

  /* Hierarchy=Secondary, Destructive=False, State=Default, Disabled=False */
  &--secondary-gray {
    background: var(--meta-white, #ffffff);
    border: 1px solid var(--meta-gray-300, #d0d5dd);
    color: var(--meta-gray-700);

    /*Hover=true*/
    &:hover {
      background: var(--meta-gray-50, #d0d5dd);
      color: var(--meta-gray-800, #1d2939);
    }

    &:disabled {
      color: var(--meta-gray-300);
      background: var(--meta-white, #ffffff);

      border: 1px solid var(--meta-gray-200);
    }
  }

  /* Hierarchy=Secondary, Destructive=False, State=Default, Disabled=False */
  &--secondary-green {
    background: var(--meta-success-500, #12b76a);
    color: var(--meta-white, #ffffff);

    /*Hover=true*/
    &:hover {
      background: var(--meta-success-600, #039855);
    }
  }

  &--md {
    padding: 10px 16px;
    height: 40px;
  }

  &--lg {
    padding: 10px 18px;
    height: 44px;
  }

  &--xl {
    padding: 16px 28px;
    height: 48px;
  }

  &--2xl {
    padding: 16px 28px;
    height: 60px;
  }

  &--link-color {
    background: inherit;
    color: var(--meta-primary-700);
    box-shadow: unset;

    &:hover {
      color: var(--meta-primary-800);
    }

    &:disabled {
      background-color: inherit;
      color: var(--meta-gray-300);
      cursor: not-allowed;
    }
  }
  &--link-gray {
    background: inherit;
    color: var(--meta-gray-500);
    box-shadow: unset;

    &:hover {
      color: var(--meta-gray-700);
    }

    &:disabled {
      background-color: inherit;
      color: var(--meta-gray-300);
      cursor: not-allowed;
    }
  }
}
