.eventDetails {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 85vh;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2c3e50;
  }

  p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;

    strong {
      color: #34495e;
    }
  }
}
